// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45em;

// Colors
$dark-grey: #222629;
$grey: #474b4f;
$light-grey: #6b6e70;
$green: #86c232;
$dark-green: #61892f;
